* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: scroll;
}

body {
  background-image: url('images/backdrop.jpg');
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.u-pull-right a {
  color: black;
  border: 2px solid black;
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
}

/*Don't touch anything above this line. */
#imageContainer{
  margin: auto;
  width: 50%;
}
section {
  display: block;
  background-color: #1c2324;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  width: inherit;
}
section h1 {
  font-size: 24px;
}
section img {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 10px black;
}
section a {
  color: orange;
  padding: 20px;
  text-decoration: none;
  text-align: justify;
  font-size: 20px;
}

h2 {
  padding: 20px;
}

main.search {
  text-align: right;
}

.search .button {
  color: black;
  border: 2px solid black;
  font-weight: bold;
  font-size: 18px;
  margin: 8px;
}

footer {
  bottom: 0;
  position: fixed;
}
