* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-image: url('images/submit.jpg');
  /* background-color: black; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.u-pull-right a {
  color: black;
  border: 2px solid black;
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
}

/*Don't touch anything above this line. */

main.search {
  text-align: right;
}

.search .button {
  color: black;
  border: 2px solid black;
  font-weight: bold;
  font-size: 18px;
  margin: 8px;
}

h2 {
  padding: 20px;
}

.form {
  height: 130px;
  width: 295px;
  padding-left: 20px;
  margin: auto;
}

/* footer {
  bottom: 0;
  position: fixed;
} */
